<!DOCTYPE html>

<html lang="en">
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/custom-style.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>






    <!-- MAKE AN APPOINTMENT -->
    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- CONTACT FORM HERE -->
                    <form id="appointment-form" role="form" method="post" action="IndexClick">

                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                            <h2><i class="fa fa-hospital-o" style="color:#9CC93A"></i> OA knee Clinical Treatment Decision Support System</h2>
                        </div>
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                            <h3 style="background: #9CC93A;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">Treatment Decision：</h3>
                            <hr style="background-color: #9CC93A;" />
                            <p style="color: red; font-size: 21px; font-weight: bold; margin-top:20px;">"Hyaluronic Acid Injection"</p>
                            <p style=" font-size: 21px; margin-top: 20px;">Based on system calculations, this is the best treatment for you.</p>
                        </div>

                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                            <h3>The Introduction of Hyaluronic Acid Injection:</h3>
                            <hr style="background-color: #9CC93A;" />
                            <div class="col-md-12 col-sm-12">
                                <p style="text-align: justify;">Hyaluronic Acid Injection is a joint maintenance agent injected directly into degenerated joints. It has the mechanism of high viscoelasticity and lubricating effect. It has affinity for articular cartilage and can cover the surface of cartilage to protect cartilage, prevent wear and degeneration, and can be used by its characteristics , Inhibit inflammation, improve joint contracture, increase joint mobility.</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p style=" font-size: 21px; margin-top: 20px;">Advantage:</p>
                                <div class="maindoc-box">
                                    <ul>
                                        <li>Knee lubrication</li>
                                        <li>Improve joint mobility</li>
                                        <li>Pain relief</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p style=" font-size: 21px; margin-top: 20px;">Reaction:</p>
                                <div class="maindoc-box">
                                    <ul>
                                        <li>Joint pain, swelling, or fluid accumulation</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                <h3>Achievement rate：</h3>
                                <hr style="background-color: #9CC93A;" />
                                <div class="col-md-2 col-sm-2">
                                    <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: 10px; line-height:19px; text-align: center; z-index: 999999999999999; font-weight:bold;">
                                        @TempData["g1r"]%
                                    </div>
                                    <canvas id="g1r" width="100" height="100"></canvas>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: 10px; line-height:19px; text-align: center; z-index: 999999999999999; font-weight:bold;">
                                        @TempData["g2r"]%
                                    </div>
                                    <canvas id="g2r" width="100" height="100"></canvas>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: 10px; line-height:19px; text-align: center; z-index: 999999999999999; font-weight:bold; color:red;">
                                        @TempData["g3r"]%
                                    </div>
                                    <canvas id="g3r" width="100" height="100"></canvas>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: 10px; line-height:19px; text-align: center; z-index: 999999999999999; font-weight:bold;">
                                        @TempData["g4r"]%
                                    </div>
                                    <canvas id="g4r" width="100" height="100"></canvas>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: 10px; line-height: 19px; text-align: center; z-index: 999999999999999; font-weight: bold; color: red;">
                                        @TempData["g5r"]%
                                    </div>
                                    <canvas id="g5r" width="100" height="100"></canvas>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: 10px; line-height: 19px; text-align: center; z-index: 999999999999999; font-weight: bold; color: red;">
                                        @TempData["g6r"]%
                                    </div>
                                    <canvas id="g6r" width="100" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <button type="submit" class="form-control" id="cf-submit" name="Submit" style="margin-top:50px">Back to system</button>
                        </div>
                    </form>
                </div>




            </div>
        </div>
    </section>





    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script>
        var ctxDoughnut = document.getElementById("g1r");
    var DoughnutChart = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            //labels: ['Goal 1'],
            datasets: [{
                data: [@TempData["g1r"], 100 -@TempData["g1r"]],
                backgroundColor: [
                    '#C1395e',
                    '#ededed'

                ]

             }],
        },
        options: {

            responsive: true,
            title: {
                display: true,
                fontSize: 20,
                fontFamily: '微軟正黑體',
                text: 'Goal 1 Achievement rate'
            },
            legend: {

                position: 'bottom',
                labels: {
                    fontColor: 'black'
                },


            },
            tooltips: {
                callbacks: {
                    title: function (tooltipItem, data) {
                        return data['labels'][tooltipItem[0]['index']];
                    },
                    label: function (tooltipItem, data) {
                        return data['datasets'][0]['data'][tooltipItem['index']] + '%';
                    },
                }
            },
        }
    });

         var ctxDoughnut = document.getElementById("g2r");
    var DoughnutChart = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            //labels: ['Goal 2'],
            datasets: [{
                data: [@TempData["g2r"], 100 -@TempData["g2r"]],
                backgroundColor: [
                    '#aec17b',
                    '#ededed'


                ]

             }],
        },
        options: {

            responsive: true,
            title: {
                display: true,
                fontSize: 20,
                fontFamily: '微軟正黑體',
                text: 'Goal 2 Achievement rate'
            },
            legend: {

                position: 'bottom',
                labels: {
                    fontColor: 'black'
                },


            },
            tooltips: {
                callbacks: {
                    title: function (tooltipItem, data) {
                        return data['labels'][tooltipItem[0]['index']];
                    },
                    label: function (tooltipItem, data) {
                        return data['datasets'][0]['data'][tooltipItem['index']] + '%';
                    },
                }
            },
        }
    });

         var ctxDoughnut = document.getElementById("g3r");
    var DoughnutChart = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            //labels: ['Goal 3'],
            datasets: [{
                data: [@TempData["g3r"], 100 -@TempData["g3r"]],
                backgroundColor: [
                    '#f0ca50',
                    '#ededed'


                ]

             }],
        },
        options: {

            responsive: true,
            title: {
                display: true,
                fontSize: 20,
                fontFamily: '微軟正黑體',
                text: 'Goal 3 Achievement rate'
            },
            legend: {

                position: 'bottom',
                labels: {
                    fontColor: 'black'
                },


            },
            tooltips: {
                callbacks: {
                    title: function (tooltipItem, data) {
                        return data['labels'][tooltipItem[0]['index']];
                    },
                    label: function (tooltipItem, data) {
                        return data['datasets'][0]['data'][tooltipItem['index']] + '%';
                    },
                }
            },
        }
    });

         var ctxDoughnut = document.getElementById("g4r");
    var DoughnutChart = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            //labels: ['Goal 4'],
            datasets: [{
                data: [@TempData["g4r"], 100 -@TempData["g4r"]],
                backgroundColor: [
                    '#e07b42',
                    '#ededed'


                ]

             }],
        },
        options: {

            responsive: true,
            title: {
                display: true,
                fontSize: 20,
                fontFamily: '微軟正黑體',
                text: 'Goal 4 Achievement rate'
            },
            legend: {

                position: 'bottom',
                labels: {
                    fontColor: 'black'
                },


            },
            tooltips: {
                callbacks: {
                    title: function (tooltipItem, data) {
                        return data['labels'][tooltipItem[0]['index']];
                    },
                    label: function (tooltipItem, data) {
                        return data['datasets'][0]['data'][tooltipItem['index']] + '%';
                    },
                }
            },
        }
    });

         var ctxDoughnut = document.getElementById("g5r");
    var DoughnutChart = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            //labels: ['Goal 5'],
            datasets: [{
                data: [@TempData["g5r"], 100 -@TempData["g5r"]],
                backgroundColor: [
                    '#89a7c2',
                    '#ededed'


                ]

             }],
        },
        options: {

            responsive: true,
            title: {
                display: true,
                fontSize: 20,
                fontFamily: '微軟正黑體',
                text: 'Goal 5 Achievement rate'
            },
            legend: {

                position: 'bottom',
                labels: {
                    fontColor: 'black'
                },


            },
            tooltips: {
                callbacks: {
                    title: function (tooltipItem, data) {
                        return data['labels'][tooltipItem[0]['index']];
                    },
                    label: function (tooltipItem, data) {
                        return data['datasets'][0]['data'][tooltipItem['index']] + '%';
                    },
                }
            },
        }
    });

         var ctxDoughnut = document.getElementById("g6r");
    var DoughnutChart = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            //labels: ['Goal 6'],
            datasets: [{
                data: [@TempData["g6r"], 100 -@TempData["g6r"]],
                backgroundColor: [
                    '#B5B5B3',
                    '#ededed'


                ]

             }],
        },
        options: {

            responsive: true,
            title: {
                display: true,
                fontSize: 20,
                fontFamily: '微軟正黑體',
                text: 'Goal 6 Achievement rate'
            },
            legend: {

                position: 'bottom',
                labels: {
                    fontColor: 'black'
                },


            },
            tooltips: {
                callbacks: {
                    title: function (tooltipItem, data) {
                        return data['labels'][tooltipItem[0]['index']];
                    },
                    label: function (tooltipItem, data) {
                        return data['datasets'][0]['data'][tooltipItem['index']] + '%';
                    },
                }
            },
        }
    });
    </script>
</body>
</html>